[submodule "setup/dotbot"]
	path = setup/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "src/zsh/plugins/fast-syntax-highlighting"]
	path = src/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "src/zsh/plugins/pure"]
	path = src/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "fzf/fzf-extras"]
	path = fzf/fzf-extras
	url = gh:atweiden/fzf-extras
[submodule "fzf/fzf-widgets"]
	path = fzf/fzf-widgets
	url = gh:ytet5uy4/fzf-widgets
[submodule "zsh/plugins/zsh-vim-mode"]
	path = zsh/plugins/zsh-vim-mode
	url = git@github.com:softmoth/zsh-vim-mode.git
